#container{
    background: #F1C40F; 
    background: linear-gradient(135deg, #c29d0b 0%, #F1C40F 100%);
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    min-width: 250px;
    font-size: 20px;
}
body{
    background: url('../img/spencer-davis-o_XkavUaGEw-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto;
}
input{
    width: 100%;
    text-align: center;
}